*.fasl
*~
*.dot
*.svg
*.sa
.DS_Store
bin/instans-core.sbcl
init/LISP-CONFIGURATION
tests/data-r2
tests/data-sparql11
tests/output
tests/syntax-test-results/DataTables*
MKHTML_LOG
bin/instans.bin
bin/sbcl-instans.core
tests/RDF
tests/log
tests/syntax-test-results
tests/correct-output
tests/input/issues/*.output
tests/input/local
bin/instans.bin.options
buildapp*
